/* You can add global styles to this file, and also import other style files */
.sidenav-section{
    height: 100vh;
    background:#000000	;
}
.sidenav-section .active-link{
    background-color: #696969;
    border-left: 3px solid #a71a8f;
}
.sidenav-section ul{
    list-style: none;
    padding-left: 0;
    padding-top: 10px;
    cursor: pointer;
}
.sidenav-section ul li{
    color: white;
    padding-top: 10px;
    cursor: pointer;
    height: 56px;
    padding-left: 8px;
    border: none;
}
html, body { height: 100%; }
table {
    width: 100%;
  }
 .video-sectioniframe #mikhof7 {
    max-width: 203px !important;
    max-height: 161px !important;
}
img.side-icons {
    height: 24px;
    width: 35px;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* //header-section */
.header-section ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  .header-section li {
    float: left;
  }
  
  .header-section li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .header-section li a:hover:not(.active) {
    background-color: #111;
  }
  
